@media (min-width: 320px) and (max-width: 576px) {
    .header {
        height: 60px;
        padding: 2vw;
    }
    .headerLinks {
        width: 50vw;
    }
    .headerLinks a{
        font-size: 2vw;
    }
    .headerLogo {
        width: 10vw;
    }
    .contactButton {
        width: 25vw;
        height: 8vw;
        font-size: 3vw;
    }
    /**/
    .hero{
        height: 100vh;
    }
    .heroLogo {
        width: 60vw;
        margin: 30px;
    }
    .sliderItem {
        padding: 5vw;
    }
    .heroWrapper {
        width: 90vw;
        height: 80vh;
        align-items: center;
        flex-direction: column;
    }
    .heroSlider {
        width:90vw;
    }
    .heroSlider h1 {
        font-size: 6vw;
    }
    .heroSlider p {
        font-size: 3.5vw;
        line-height: 4vw;
    }
    .heroSlider button {
        width: 30vw;
        height: 10vw;
        font-size: 3vw;
    }
    /**/
    .info {
        height: 200vw;
    }
    .infoWrapper {
        height: 180vw;
        flex-direction: column;
        justify-content: center;
    }
    .infoItem {
        width: 80vw;
        align-items: center;
    }
    .infoItemHeader {
        width: 80%;
        height: 10vw;
        padding: 20px;
        justify-content: center;
        gap: 4vw;
    }
    .infoItemSpan {
        font-size: 3.4vw;
    }
    .infoContentText p{
        font-size: 2.7vw;
        line-height: 3.5vw;
    }
    .infoIcon {
        font-size: 4vw
    }
    /**/
    .about {
        height:220vw;
    }
    .aboutVideoWrapper {
        flex-direction: column;
        justify-content: center;
    }
    .aboutVideo {
        width: 90vw;
        height: 60vw;
    }
    .aboutDescription {
        width: 95vw;
        height: 50vw;
        padding: 6vw;
    }
    .aboutDescription p {
        font-size: 3.6vw;
        line-height: 8vw;
    }
    /**/
    .footer {
        height: 120vw;
    }
    .footerHeading {
        font-size: 4vw;
        margin: 1vw;
    }
    .footerWrapper {
        height: 100vw;
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }
    .footerSocial {
        height: 10vw;
    }
    .socialWrapper {
        width: 30vw;
        height: 10vw;
    }
    .footerWrapper div {
        padding: 2vw;
        width: 100%;
        height: 30vw;
        align-items: center;
    }
    .footerWrapper div a {
        font-size: 3vw;
        line-height: 5vw;
    }
    .footerWrapper p {
        font-size: 2.4vw;
        line-height: 5vw;
    }
    .footerLink {
        width: 6vw;
        height: 6vw;
    }
    .footerIcon {
        font-size: 3.5vw;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .header {
        height: 60px;
    }
    .headerLinks {
        width: 50vw;
    }
    .headerLinks a{
        font-size: 1.8vw;
    }
    /**/
    .hero{
        height: 140vh;
    }
    .heroLogo {
        width: 50vw;
        margin: 30px;
    }
    .heroWrapper {
        width: 90vw;
        height: 80vh;
        align-items: center;
        flex-direction: column;
    }
    .heroSlider {
        width:90vw;
    }
    .heroSlider h1 {
        font-size: 5vw;
    }
    .heroSlider p {
        font-size: 2.6vw;
        line-height: 4vw;
    }
    .heroSlider button {
        width: 16vw;
        font-size: 2.2vw;
    }
    /**/
    .info {
        height: 180vw;
    }
    .infoWrapper {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
    .infoItem {
        width: 80vw;
        align-items: center;
    }
    .infoItemHeader {
        width: 70%;
        height: 10vw;
        padding: 20px;
        justify-content: center;
        gap: 5vw;
    }
    .infoItemSpan {
        font-size: 2.8vw;
    }
    .infoContentText p{
        font-size: 2.2vw;
        line-height: 3.5vw;
    }
    .infoIcon {
        font-size: 3.6vw
    }
    /**/
    .about {
        height:120vh;
    }
    .aboutVideoWrapper {
        flex-direction: column;
        justify-content: center;
    }
    .aboutVideo {
        width: 90vw;
        height: 60vw;
    }
    .aboutDescription {
        width: 95vw;
        height: 50vw;
    }
    /**/
    .footer {
        height: 50vw;
        justify-content: center;
    }
    .footerHeading {
        font-size: 2.3vw;
    }
    .footerWrapper {
        height: 30vw;
    }
    .footerSocial {
        height: 10vw;
    }
    .socialWrapper {
        width: 30vw;
        height: 10vw;
    }
    .footerWrapper div a {
        font-size: 1.7vw;
        line-height: 2.6vw;
    }
    .footerWrapper p {
        font-size: 1.6vw;
    }
    .footerLink {
        width: 6vw;
        height: 6vw;
    }
    .footerIcon {
        font-size: 3.5vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header {
        height: 60px;
    }
    .headerLinks {
        width: 400px;
    }
    .headerLinks a{
        font-size: 1.5vw;
    }
    /**/
    .hero{
        height: 100vh;
    }
    .heroLogo {
        width: 30vw;
        margin: 30px;
    }
    .heroWrapper {
        width: 90vw;
    }
    .heroSlider {
        max-width:90vw;
    }
    .heroSlider h1 {
        font-size: 3.5vw;
    }
    .heroSlider p {
        font-size: 1.8vw;
        line-height: 3vw;
    }
    /**/
    .info {
        height: 80vh;
    }
    .infoWrapper {
        height: 40vh;
        align-items: center;
    }
    .infoItemSpan {
        font-size: 1.8vw;
    }
    .infoContentText p{
        font-size: 1.4vw;
        line-height: 3vw;
    }
    .infoIcon {
        font-size: 3vw
    }
    .infoItemHeader {
        width: 30vw;
        height: 7vw;
        padding: 20px;
    }
    /**/
    .about {
        height: 80vh;
    }
    .aboutVideoWrapper {
        justify-content: center;
        align-items: center;
    }
    .aboutVideo {
        width: 45vw;
        height: 40vw;
    }
    .aboutDescription {
        width: 50vw;
        height: 50vw;
    }
    .aboutDescription p {
        font-size: 1.8vw;
        line-height: 3.2vw;
    }
    /**/
    .footer {
        height: 40vw;
        justify-content: center;
    }
    .footerWrapper {
        height: 30vw;
    }
    .footerWrapper div a {
        font-size: 1.7vw;
        line-height: 2.6vw;
    }
    .footerWrapper p {
        font-size: 1.8vw;
    }
}

@media (min-width: 992px) and (max-width: 1250px) {
    .header {
        height: 60px;
    }
    /**/
    .hero{
        height: 100vh;
    }
    .heroLogo {
        width: 30vw;
    }
    .heroWrapper {
        width: 100vw;
    }
    .heroSlider {
        max-width: 90vw;
    }
    .heroSlider h1 {
        font-size: 3vw;
    }
    .heroSlider p {
        font-size: 1.6vw;
    }
    /**/
    .infoItemSpan {
        font-size: 1.8vw;
    }
    .infoContentText p{
        font-size: 1.4vw;
    }
    .infoIcon {
        font-size: 2.5vw;
    }
    /**/
    .aboutVideoWrapper {
        justify-content: center;
    }
    .aboutVideo {
        width: 45vw;
    }
    .aboutDescription {
        width: 45vw;
    }
    /**/
    .footerWrapper div a {
        font-size: 1.4vw;
        line-height: 2.5vw;
    }
}
