.about {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(28, 28, 28);
}

.aboutVideoWrapper {
    width: 1200px;
    height: 60%;
    display: flex;
    color: white;
}

.aboutVideo {
    width: 50%;
    height: 80%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(2, 223 ,255);
    cursor: pointer;
    transition: 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton:hover {
    transform: scale(1.2);
    background-color: rgb(56, 15, 148);
}

.playIcon {
    font-size: 30px;
}


.aboutDescription {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    padding: 50px;
}

.aboutDescription h1 {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 24px;
}

.aboutDescription p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height:30px;
}

.aboutSlider {
    width: 70%;
    height: 20%;
}
.aboutSliderItem {
    height: 100%;
    text-align: center;
}

.sliderIcon {
    color: white;
    font-size: 60px;
    cursor: pointer;
    transition: 300ms ease;
}

.sliderIcon:hover {
    color: rgb(2, 223, 255);
    transform: scale(1.1);
}

.aboutSliderHeader {
    font-family: "Montserrat SemiBold", sans-serif;
    color: white;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 50px;
    cursor: default;
    user-select: none;
}

@media (min-width: 992px) and (max-width: 1250px) {
    .aboutVideoWrapper {
        justify-content: center;
        width: 100vw;
    }
    .aboutVideo {
        width: 45vw;
    }
    .aboutDescription {
        width: 45vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about {
        height: 110vh;
    }
    .aboutVideoWrapper {
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .aboutVideo {
        width: 45vw;
        height: 40vw;
    }
    .aboutDescription {
        width: 50vw;
        height: 50vw;
        padding: 5vw;
    }
    .aboutDescription p {
        font-size: 1.8vw;
        line-height: 3.2vw;
    }
    .aboutSliderHeader {
        font-size: 3.5vw;
    }
    .sliderIcon {
        font-size: 7vw;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .about {
        height:120vh;
    }
    .aboutVideoWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .aboutVideo {
        width: 90vw;
        height: 60vw;
    }
    .aboutDescription {
        width: 95vw;
        height: 50vw;
    }
    .aboutSliderHeader {
        font-size: 3.5vw;
        margin-top: 10vw;
    }
    .sliderIcon {
        font-size: 7vw;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .about {
        height:240vw;
    }
    .aboutVideoWrapper {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    .aboutVideo {
        width: 90vw;
        height: 60vw;
    }
    .aboutDescription {
        width: 95vw;
        height: 50vw;
        padding: 6vw;
    }
    .aboutDescription p {
        font-size: 3vw;
        line-height: 8vw;
    }
    .aboutSliderHeader {
        font-size: 5vw;
    }
    .sliderIcon {
        font-size: 8vw;
    }
}