.contactOverlay {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contactWrapper {
    width: 70%;
    height: 60vh;
    background: rgb(25,25,25);
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
}

.closeButton {
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;
}

.contactForm {
    width: 55%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 30px;
}
.contactForm form {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.contactForm label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactForm input {
    background: none;
    border: none;
    border-bottom: 1px solid dimgray;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 15px;
    width: 100%;
}

.contactForm input::placeholder{
    color: dimgray;
}

.contactForm input:focus{
    outline: none;
    border-color: white;
}
.errorMessage {
    color: red;
    margin: 0;
    font-size: 12px;
    user-select: none;
    font-family: "Montserrat", sans-serif;
}

.contactBackground {
    width: 45%;
    height: 100%;
    background-image: url("../../assets/backgrounds/contactBackground.jpg");
    background-size: cover;
    background-position: 90%;
    position: relative;
}
.backgroundOverlay {
    backdrop-filter: brightness(-2.5);
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
.backgroundOverlay h3 {
    font-size: 30px;
    margin: 0;
}
.backgroundOverlay a {
    color: white;
    text-decoration: none;
}

.submitButton {
    width: 120px;
    height: 40px;
    border-radius:20px;
    border: none;
    background-color:rgb(56, 15, 148);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.name {
    min-width: 100px;
}
.phone {
}
.mail {
    min-width: 60%;
}
.msg {
    width: 80%;
    resize: vertical;
}

@media (min-width:768px) and (max-width:992px) {
    .contactWrapper {
        flex-direction: column;
        width: 90%;
        height: 95vh;
    }
    .contactForm {
        width: 100%;
        align-items: start;
        justify-content: center;
    }
    .contactForm form{
        height: 70%;
        justify-content: center;
    }
    .contactBackground {
        width: 100%;
        height: 60%;
    }
    .name {
        width: 15%;
    }
    .phone {
        width: 20%;
    }
    .mail {
        min-width: 30%;
    }
    .msg {
        width: 50%;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .contactWrapper {
        flex-direction: column;
        height: 90vh;
    }
    .contactForm {
        width: 100%;
        align-items: center;
    }
    .contactForm form{
        justify-content: center;
    }
    .contactBackground {
        width: 100%;
    }
}

@media (min-width:320px) and (max-width:576px) {
    .contactWrapper {
        flex-direction: column;
        width: 90%;
        height: 95vh;
    }
    .contactForm {
        width: 100%;
        align-items: center;
    }
    .contactForm form{
        justify-content: center;
    }
    .contactBackground {
        width: 100%;
    }
    .name {
        width: 70%;
    }
    .phone {
        width: 70%;
    }
    .mail {
        width: 70%;
    }
    .msg {
        width: 70%;
    }
}